Title {
    background-color: #0081ff;
    min-width: 480px;
    min-height: 32px;
    /*max-width: 480px;*/
    max-height: 32px;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    top: 0;
    left: 0;
    /*margin-left: -100px;*/

}

QLabel {
    color: white;
    font-size: 16px;
    /*line-height: 14px;*/
    /*font-family: Calibri;*/
    /*background-color: black;*/

}